html {
  font-family: "Comic Sans MS". "Comic Sans", cursive;
}

#display {
  color: purple;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input {
  display: flex;
  justify-content: center;
}

#operators {
  display: flex;
  flex-direction: column;
}

#operators button {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

#digits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 150px;
}

#digits button {
  width: 50px;
  border: 1px solid black;
}

